/* General */
/* :root {
  --min-display-width: max(100vw, 310px);
  --min-display-height: max(100vh, 370px);
  --max-small-screen-width: 420px;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section {
  padding: 0px max(3vw, 30px);
  background-color: black;
}

/* Special fonts*/
@font-face {
  font-family: "UAV OSD Mono";
  src: url("./fonts/UAV-OSD-Mono.ttf") format('truetype');
}

@font-face {
  font-family: "Blacklisted";
  src: url("./fonts/Blacklisted.ttf") format('truetype');
}

/* Styling for nav bar (desktop) */
nav.desktop {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 5vh;
  padding: 1.2vh 2vw;
  background-color: #131516;
  align-items: center;
  z-index: 100;
}

#nav-elements-desktop {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  padding-inline-start: 0px;
}

#nav-elements-desktop > li {
  list-style: none;
}

#nav-elements-desktop > li > a {
  text-decoration: none;
  font-family: "UAV OSD Mono", "Courier New", "Lucida Console";
  font-size: 1em;
  padding: 1vw;
  word-spacing: -5px;
  color: white;
}

#nav-elements-desktop > li > a:visited {
  color: white;
}

#nav-elements-desktop > li > a:hover {
  color: red;
}

/* Style the hamburger menu */
nav.mobile {
  top: 0;
  position: fixed !important;
  flex-direction: column;
  width: 100%;
  display: none;
  background-color: #131516;
  z-index: 100;
}

nav.mobile > a > img {
  height: 36px;
  width: 36px;
  padding: 10px;
}

#nav-elements-mobile {
  display: none;
  font-size: 30px;
  /* flex: 2; */
  padding: 0;
  flex-direction: column;
  align-items: center;
}

#nav-elements-mobile > li { 
  list-style-type: none;
  flex: 1;
  padding: min(2vh, 20px);
}

#nav-elements-mobile > li > a {
  font-family: "UAV OSD Mono", "Courier New", "Lucida Console";
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 992px) {
  nav.desktop { display: none; }
  nav.mobile {display: flex;}
} 

/* Styling for home page */
#home-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  justify-content: center;
}

#home-div > h1 {
  color: white;
  font-size: max(48px, 10vw);
  margin-bottom: 0;
  margin-top: 5vh;
  font-weight: 300;
  font-style: normal;
  font-family: "Blacklisted", sans-serif;
}

#home-div > p {
  color: white;
  font-size: max(20px, 2vw);
  font-weight: 300;
  margin-top: 2px;
  margin-bottom: 10px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

#profile-icons {
  font-size: max(48px, 3vw);
}

#profile-icons > a {
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  color: white;
  text-decoration: none;
}

#profile-icons > a:hover {
  color: red;
}

#down-arrow > a {
  margin-top: 15vh;
  color: white;
  text-decoration: none;
  font-size: 48px;
  animation: updown 2s ease infinite;
}

#down-arrow > a:hover {
  color: red;
}

@keyframes updown {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* ABOUT ME*/
#aboutme > header {
  color: #fff;
  font-size: 5vh;
  font-family: "VCR OSD Mono";
}

#aboutme > .section-content {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-picture-container {
  flex: 1;
  width: 200px;
  display: flex;
  align-items: center;
}

#profile-picture-container > img {
  border-radius: 100%;
  max-width: 100%;
}

#aboutme > .section-content > article {
  flex: 2;
  margin: max(20px, 5vmin);
  padding: 0 3rem;
}

#aboutme > .section-content > article > h1 {
  color: #fff;
  font-size: max(4vh, 30px);
  font-family: "UAV OSD Mono";
  margin-block-end: 0.5em;
}

#aboutme > .section-content > article > p {
  color: #fff
}

.less-emphasis {
  font-size: max(0.8rem, 12px);
  color: #9e9e9e;
}

.less-emphasis > a {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  #aboutme > .section-content {
    flex-direction: column;
  }

  #profile-picture-container {
    margin: 10px;
  }

  #aboutme > .section-content > article {
    margin: auto;
  }
}
